<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.jiangzh.film.dao.mapper.FilmOrderTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.next.jiangzh.film.dao.entity.FilmOrderT">
        <result column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="field_id" property="fieldId" />
        <result column="film_id" property="filmId" />
        <result column="seats_ids" property="seatsIds" />
        <result column="seats_name" property="seatsName" />
        <result column="film_price" property="filmPrice" />
        <result column="order_price" property="orderPrice" />
        <result column="order_time" property="orderTime" />
        <result column="order_user" property="orderUser" />
        <result column="order_status" property="orderStatus" />
    </resultMap>
</mapper>
