<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.jiangzh.film.dao.mapper.FilmFieldTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.next.jiangzh.film.dao.entity.FilmFieldT">
        <id column="UUID" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="film_id" property="filmId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="hall_id" property="hallId" />
        <result column="hall_name" property="hallName" />
        <result column="price" property="price" />
    </resultMap>

    <resultMap id="fieldListMap"
               type="com.next.jiangzh.film.controller.cinema.vo.CinemaFilmVO">
        <result property="filmId" column="film_id"></result>
        <result property="filmName" column="film_name"></result>
        <result property="filmLength" column="film_length"></result>
        <result property="filmType" column="film_language"></result>
        <result property="filmCats" column="film_cats"></result>
        <result property="actors" column="actors"></result>
        <result property="imgAddress" column="img_address"></result>
        <collection property="filmFields"
                    ofType="com.next.jiangzh.film.controller.cinema.vo.FilmFieldVO">
            <result property="fieldId" column="UUID"></result>
            <result property="beginTime" column="begin_time"></result>
            <result property="endTime" column="end_time"></result>
            <result property="language" column="language"></result>
            <result property="hallName" column="hall_name"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>

    <select id="describeFieldList" parameterType="java.util.Map" resultMap="fieldListMap">
        SELECT
            info.`film_id`,
            info.`film_name`,
            info.`film_length`,
            info.`film_language`,
            info.`film_cats`,
            info.`actors`,
            info.`img_address`,
            fe.`UUID`,
            fe.`begin_time`,
            fe.`end_time`,
            info.`film_language` AS `language`,
            fe.`hall_name`,
            fe.`price`
        FROM
        film_field_t fe
        LEFT JOIN film_hall_film_info_t info
        ON fe.`film_id` = info.`film_id`
        WHERE fe.`cinema_id` = #{cinemaId}
    </select>


    <select id="describeFilmInfoByFieldId" parameterType="java.util.Map" resultType="com.next.jiangzh.film.controller.cinema.vo.CinemaFilmInfoVO">
        SELECT
            info.`film_id`,
            info.`film_name`,
            info.`film_length`,
            info.`film_language` as `filmType`,
            info.`film_cats`,
            info.`actors`,
            info.`img_address`
        FROM
            film_field_t fe LEFT JOIN film_hall_film_info_t info ON fe.`film_id` = info.`film_id`
        WHERE fe.`UUID` = #{fieldId}
    </select>

    <select id="describeHallInfo"
            parameterType="java.util.Map"
            resultType="com.next.jiangzh.film.controller.cinema.vo.FieldHallInfoVO">
        SELECT
            fe.`UUID` AS hallFieldId,
            fe.`hall_name` AS hallName,
            fe.`price` AS price,
            dict.`seat_address` AS seatFile
        FROM
        film_field_t fe LEFT JOIN film_hall_dict_t dict ON fe.`hall_id` = dict.`UUID`
        WHERE fe.`UUID` = #{fieldId}
    </select>

</mapper>
