<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.jiangzh.film.dao.mapper.FilmActorTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.next.jiangzh.film.dao.entity.FilmActorT">
        <id column="UUID" property="uuid" />
        <result column="actor_name" property="actorName" />
        <result column="actor_img" property="actorImg" />
    </resultMap>

    <select id="describeActorsByFilmId" parameterType="java.util.Map" resultType="com.next.jiangzh.film.controller.film.vo.response.filmdetail.ActorResultVO">
        SELECT
            actor.`actor_img` AS imgAddress,
            actor.`actor_name` AS directorName,
            rela.`role_name` AS roleName
        FROM
            film_actor_rela_t rela
            LEFT JOIN film_actor_t actor ON rela.`actor_id` = actor.`UUID`
        WHERE rela.`film_id` = #{filmId}
    </select>

</mapper>
