<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.jiangzh.film.dao.mapper.NextUserTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.next.jiangzh.film.dao.entity.NextUserT">
        <id column="UUID" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="head_address" property="headAddress" />
        <result column="biography" property="biography" />
        <result column="life_state" property="lifeState" />
        <result column="begin_time" property="beginTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
</mapper>
